body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* General overwrite */
a {
    color: #2C93FF;
}

a:hover,
a:focus {
    color: #1084FF;
}

a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]
