


@media (max-width: 767px) {
  body {
    background-attachment: scroll;
  }
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}

.form-group {
  margin-bottom: 20px;
}

#password {
  font-size: 20px;
  font-weight: bold;
}

#copyMsg {
  font-size: 12px;
  margin-top: 5px;
}

#errorMsg {
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 576px) {
  .container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  #password {
    font-size: 16px;
  }
}
